body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: slateblue;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    border: 1px solid slateblue;
    color: whitesmoke;
    font-weight: bolder;
    background-color: slateblue;
    margin-bottom: 1em;
    box-shadow: inset 5em 1em slateblue; 
    padding: 0.5em;
}

.select-header{
    display:flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    
}

.img-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img {
    border: 2px solid darkgrey;
    background-color: whitesmoke;
}

.small , img.small {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.med , img.med {
    height: 125px;
    width: 125px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.med-lg, img.med-lg {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
}

.lg, img.lg {
    height: 175px;
    width: 175x;
    display: flex;
    flex-direction: row;
}

.carousel-modes {
    display:flex;
    justify-content: space-around;
}


.large, img.large {
    height: 500px;
    width: 500px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 2em;
    /* padding-bottom: 3em; */
    width: 80%;
    height: 20rem;
    background-color: whitesmoke;
    border:  1px dashed slateblue;
    justify-content: center;
}

.carousel-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding: 2em;
    margin-top: 1em;
    height: 20rem;
    width: 80%;
    background-color: whitesmoke;
    border:  1px dashed slateblue;
}

.edit-mode, .view-mode {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;

}

.selected {
    border: 2px solid blue;
}

.viewer {
    margin-top: 400px;
}

.img-viewer {
    width: 500px;
    height: 500px;
    margin-top: 300px;
    border: 2px solid slategray;
    background-color: whitesmoke;
}

.btn, .btn-sm {
    border: 1px solid slategrey;
    background-color: slateblue;
    color: whitesmoke;
    width: 7em;
    height: 2.5em;
    box-shadow: slategray;
}

.btn:disabled, .btn-sm:disabled {
    background-color: rgb(177, 175, 192);
    color: whitesmoke;
}

.btn-sm, .btn-sm:disabled {
    width: 6em;
    height: 2em;
    font-weight: bolder;
}

.btn-cont {
    display:flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;

}

.main-carousel {
    margin: auto;
    width: 900px;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid slategray;
    box-shadow: inset 0 -0.5em 0.5em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.2em 0.1em rgba(0,0,0,0);

}

.arrows {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 10px;
    
}

.size-options {
    margin: 10px;
}