body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: slateblue;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img {
    border: 2px solid darkgrey;
    background-color: whitesmoke;
}

.small , img.small {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.large {
    height: 500px;
    width: 500px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 3em;
    /* padding-bottom: 3em; */
    width: 80%;
    height: 20rem;
    background-color: whitesmoke;
    border:  1px solid black;
    justify-content: center;
}

.carousel-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 3em;
    margin-top: 1em;
    height: 20rem;
    width: 80%;
    background-color: whitesmoke;
    border:  1px solid black;
}

.edit-mode, .view-mode {

}

.selected {
    border: 2px solid blue;
}

.img-viewer {
    width: 500px;
    height: 500px;
    border: 2px dashed wheat;
}

.btn {
    border: 1px solid black;
    width: 7em;
    height: 3em;
}

.btn-cont {
    width: 80%;
    margin: auto;

}